<!DOCTYPE html>
<html>
<head>
    <title>Deaf Medium</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <script>
        var predictions = [];

        $(document).ready(function () {
            function updatePrediction() {
                $.get('/get_prediction', function (data) {
                    if (data !== 'No prediction yet') {
                        predictions.push(data);
                        showNotification('Gesture converted correctly: ' + data);
                    }
                    $('#prediction_result').text(data);
                    $('#gestureText').html(predictions.join('<BR>'));
                });
            }

            function showNotification(message) {
                $('#notification').text(message);
                $('#notification').show();
                setTimeout(function () {
                    $('#notification').hide();
                }, 3000);
            }

            setInterval(updatePrediction, 5000);

            $('#notification').hide();
        });
    </script>
</head>

<body class="antialiased text-sm">
    <div class="h-screen">
        <nav class="p-4 border-b-[1px] border-gray-200 sticky top-0 bg-white shadow-sm">
            <div class="container mx-auto flex justify-between items-center">
                <a href="#" class="text-[#546e7a] text-xl font-bold">
                    <i class="fa-solid fa-hands-asl-interpreting fa-lg mr-2"></i> Deaf Medium
                </a>

                <div class="grid grid-cols-3 gap-1">
                    <div class="mr-2 text-[#546e7a]">
                        <button class="hover:bg-slate-100 rounded-full pr-3 pl-3 pt-1 pb-1">
                            <i class="fa-solid fa-chart-line mr-2"></i>
                            Dashboard
                        </button>
                    </div>
                    <div class="ml-2 text-[#546e7a]">
                        <button class="hover:bg-slate-100 rounded-full pr-3 pl-3 pt-1 pb-1">
                            <i class="fa-solid fa-hospital-user mr-2"></i>
                            Patients
                        </button>
                    </div>
                    <div class="text-[#546e7a]">
                        <button class="bg-slate-100 rounded-full pr-3 pl-3 pt-1 pb-1">
                            <i class="fa-solid fa-video mr-2"></i>
                            Appointments
                        </button>
                    </div>
                </div>

                <div class="flex items-center">
                    <div>
                        <i class="fa-solid fa-circle-user fa-xl text-[#546e7a]"></i>
                    </div>
                    <div class="pl-2 divide-x">
                        <a href="#" class="font-bold text-[#546e7a] pr-1">Joe Chris</a>
                        <small class="pl-2 text-[#546e7a]">Doctor</small>
                    </div>
                </div>
            </div>
        </nav>
        <div class="flex flex-row h-full">
            <div class="basis-1/5 border-r-[1px]">
                <div class=" border-b-[1px] text-[#546e7a]">
                    <p class="p-4 font-bold">
                        <i class="fa-solid fa-id-card mr-1"></i>
                        Patient Info
                    </p>
                </div>
                <div>
                    <p class="p-3 text-gray-400 border-b-[1px]">
                        General Details
                    </p>
                    <div class="pl-3 pt-3 pb-3 grid grid-cols-2 gap-5 bg-gray-50">
                        <div class="col-span-2">
                            <div class="flex flex-col gap-2">
                                <div class="text-[#546e7a]">
                                    Patient Name
                                </div>
                                <div class="text-[#37474f] font-bold">
                                    <i class="fa-solid fa-user fa-sm mr-2"></i>Mr. Kyle Mayer
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="flex flex-col gap-2">
                                <div class="text-[#546e7a]">
                                    DOB
                                </div>
                                <div class="text-[#37474f] font-bold">05/08/1995</div>
                            </div>
                        </div>
                        <div>
                            <div class="flex flex-col gap-2">
                                <div class="text-[#546e7a]">Blood Type</div>
                                <div class="text-[#37474f] font-bold">O<sup>+</sup></div>
                            </div>
                        </div>
                        <div>
                            <div class="flex flex-col gap-2">
                                <div class="text-[#546e7a]">Height</div>
                                <div class="text-[#37474f] font-bold">6'0</div>
                            </div>
                        </div>
                        <div>
                            <div class="flex flex-col gap-2">
                                <div class="text-[#546e7a]">Weight</div>
                                <div class="text-[#37474f] font-bold">120 lbs</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <p class="p-3 text-gray-400 border-y-[1px]">
                        Complaints
                    </p>
                    <div class="pt-1 p-3 bg-gray-50">
                        <ul class="text-[#37474f] font-bold">
                            <li class="my-2"><i class="fa-solid fa-circle-right mr-2"></i>Shortness of Breath</li>
                            <li class="my-2"><i class="fa-solid fa-circle-right mr-2"></i>Chest tightness</li>
                            <li class="my-2"><i class="fa-solid fa-circle-right mr-2"></i>Headaches</li>
                            <li class="my-2"><i class="fa-solid fa-circle-right mr-2"></i>Fatigue</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="grow bg-gray-50">
                <div class="p-4">
                    <h1 class="text-2xl font-bold text-[#37474f] pb-4">Consultation Title</h1>
                    <img src="{{ url_for('video_feed') }}" class="rounded-xl min-w-full" style="height:450px;">
                    <div class="flex justify-center gap-5 mt-2 py-3 rounded-xl shadow-sm text-[#546e7a]">
                        <Button class="p-2 border-[1px] rounded-lg">
                            <i class="fa-solid fa-microphone fa-xl"></i>
                        </Button>
                        <Button class="p-2 border-[1px] rounded-lg">
                            <i class="fa-solid fa-video fa-xl"></i>
                        </Button>
                        <Button class="p-2 border-[1px] rounded-lg">
                            <i class="fa-solid fa-record-vinyl fa-xl"></i>
                        </Button>
                        <Button class="bg-[#f44336] p-2 border-[#f44336] px-4 text-white rounded-lg">
                            Leave
                        </Button>
                    </div>
                    <div class="flex justify-center gap-5 mt-2 py-3 rounded-xl shadow-sm text-[#546e7a]">
                        <div class="text-lg">
                            <i class="fa-brands fa-creative-commons-sampling fa-2xl mr-2"></i>
                            <span id="prediction_result">.....</span>
                        </div>
                    </div>
                    <div id="notification" style="color: green; display: none;" class="flex justify-center gap-5 text-[#546e7a]"></div>
                </div>
            </div>
            <div class="basis-1/4 border-l-[1px]">
                <div class="flex justify-center gap-5 border-b-[1px] text-[#546e7a] p-3">
                    <button class="hover:bg-slate-100 rounded-full py-2 px-3">
                        <i class="fa-solid fa-message mr-1"></i>
                        Chat
                    </button>
                    <button class="bg-slate-100 rounded-full py-2 px-3">
                        <i class="fa-solid fa-arrow-right-arrow-left mr-1"></i>
                        Transcript
                    </button>
                    <button class="hover:bg-slate-100 rounded-full py-2 px-3">
                        <i class="fa-solid fa-note-sticky mr-1"></i>
                        Notes
                    </button>
                </div>

                <div class="py-3 px-3 text-[#546e7a]">
                    <p>Meeting Started - 4:50 PM - 05/08/2023</p>
                </div>

                <div class="flex flex-col gap-3 py-3 px-3">
                    <div class="flex flex-row items-center gap-2">
                        <div>
                            <i class="text-[#546e7a] fa-solid fa-circle-user fa-2xl"></i>
                        </div>
                        <div class="bg-gray-50 p-3 rounded-lg">
                            <small class="text-[#546e7a] font-bold">Kyle Mayers 4:50 PM</small>
                            <p id="gestureText">....</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>